* {
  margin: 0;
  padding: 0;
}

:root {
  --red: #ff0000;
  --green: #009e60;
  --white: #ffffff;
  --black: #000000;
  --blue: #000080;
  --gray: #c0c0c0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border: 1px solid var(--gray);
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.side-bar {
  grid-column: 1/2;
  height: 100vh;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

aside h3 {
  margin-top: 1rem;
}

aside button {
  background-color: var(--green);
  color: var(--white);
  border-radius: 10px;
  padding: 0.6rem 6rem;
  border: none;
  cursor: pointer;
}

aside button:hover {
  opacity: 0.9;
}

aside button:active {
  opacity: 0.7;
}

.salle {
  grid-column: 2/5;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
  padding: 2rem;
}

.salle1 {
  border-radius: 15px;
  background-color: var(--white);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid var(--gray);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 0.5rem;
}

.salle div:hover {
  border-color: var(--green);
}

.select {
  width: 80%;
  padding: 5px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  font-size: small;
}

.salle p {
  font-size: small;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  padding: 35px;
  background-color: var(--white);
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  display: none;
  position: absolute;
  left: 31rem;
}

.form label {
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 6px;
  color: var(--black);
}

.form input {
  width: 100%;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: var(--white);
}

.form button {
  width: 100%;
  margin-top: 18px;
  padding: 10px 14px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.9;
}

.form button:active{
    opacity: 0.5;
}



