* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #e11d74;
  --secondary: #7c3aed;
  --light: #ffffff;
  --dark: #000000;
  --red: #ff0000;
  --gray: #c0c0c0;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
 
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  border: 1px solid var(--gray);
  overflow: hidden;
}

.title img {
  height: 10rem;
  width: 10rem;
}

.title h2 {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-image: linear-gradient(to bottom, #ddd6fe, #ffffff);
}

.side-bar {
  grid-column: 1/2;
  height: 100vh;
  border: 1px solid var(--gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

aside h5 {
  margin-top: 1rem;
}

aside button {
  background-color: var(--secondary);
  color: var(--light);
  border-radius: 10px;
  padding: 0.6rem 6rem;
  border: none;
  cursor: pointer;
}

aside button:hover {
  opacity: 0.9;
}

aside button:active {
  opacity: 0.7;
}

.salle {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
  padding: 2rem;
  height: max-content;
}

.salle1 {
  border-radius: 15px;
  background-color: var(--light);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
}

.select {
  width: 80%;
  padding: 5px;
  border: 2px solid #e5e7eb;
  border-radius: 12px;
  background: #fff;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  font-size: small;
}
.select:focus{
    border: 2px solid var(--secondary);
}

.nothing {
  width: 85%;
  height: 7rem;
  border: 2px dashed var(--red);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.salle p {
  font-size: small;
  margin-bottom: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  padding: 35px;
  background-color: var(--light);
  border: 1px solid var(--primary);
  border-radius: 12px;
  display: none;
  position: absolute;
  left: 31rem;
}

.form label {
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 6px;
  color: var(--dark);
}

.form input {
  width: 100%;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: var(--light);
}



.role{
  width: 100%;
  padding: 10px 14px;
  font-size: small;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: var(--light);
}

.role:focus{
      border: 2px solid var(--secondary);
}

.form button {
  width: 100%;
  margin-top: 18px;
  padding: 10px 14px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--light);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.9;
}

.form button:active {
  opacity: 0.5;
}

/* mini desktop */

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  aside button {
    padding: 0.6rem 3rem;
  }
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .salle1 {
    width: 15rem;
  }

  .salle {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.8rem;
    padding: 2rem;
    height: max-content;
  }

  aside button {
    padding: 0.4rem 2rem;
  }

  .form {
    width: 18rem;
    padding: 35px;
    left: 23rem;
  }

  .form label {
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .form input {
    padding: 8px 12px;
  }

  .form button {
    padding: 8px 10px;
    font-size: 13px;
  }
}

/* grand mobil */

@media screen and (min-width: 625px) and (max-width: 768px  ) {

  .title img {
    height: 7rem;
    width: 7rem;
  }

  .title h2 {
    font-size: medium;
  }
  aside h5 {
    margin-top: 1rem;
    font-size: x-small;
  }

  aside button {
    padding: 8px 7px;
    font-size: x-small;
  }

  .form {
    width: 15rem;
    left: 18rem;
  }

  .form label {
    font-weight: 200;
  }

  .form input {
    padding: 6px 10px;
  }

  .form button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .salle1 {
    width: 15rem;
  }

  .salle {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* mini mobil */

@media screen and (max-width: 625px) {

  .title img {
    height: 6rem;
    width: 6rem;
  }

  .title h2 {
    font-size: medium;
  }
  aside h5 {
    margin-top: 1rem;
    font-size: x-small;
  }

  aside button {
    padding: 8px 2px;
    font-size: x-small;
  }

  .form {
    width: 12rem;
    left: 5rem;
  }

  .form label {
    font-weight: 150;
  }

  .form input {
    padding: 6px 10px;
  }

  .form button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .salle1 {
    width: 13rem;
  }

  .salle {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

